package ${package}.controller;

import ${package}.domain.${className};
import ${package}.service.${className}Service;
import com.nvxclouds.pojo.BaseResult;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.List;

@RestController
@RequestMapping("/${classname}")
public class ${className}Controller {

    @Autowired
    private ${className}Service ${classname}Service;



    #foreach ($interfaceInfo in $interfaceInfos)
        #if($interfaceInfo.method == "get")
            @GetMapping($interfaceInfo.path)
            public BaseResult<${interfaceInfo.functionName}VO> get${interfaceInfo.functionName}(@PathVariable("id") Long id) {
                return BaseResult.ok(${classname}Service.select(id));
            }
        #elseif($interfaceInfo.method == "post")
            @PostMapping($interfaceInfo.path)
            public BaseResult<Void> save${interfaceInfo.functionName}(${interfaceInfo.functionName}DTO ${classname}) {
                    ${classname}Service.add(${classname});
                return BaseResult.ok();
            }
        #elseif($interfaceInfo.method == "put")
            @PutMapping($interfaceInfo.path)
            public BaseResult<Void> modify${interfaceInfo.functionName}(${interfaceInfo.functionName}DTO ${classname}) {
                    ${classname}Service.update(${classname});
                return BaseResult.ok();
            }

        #elseif($interfaceInfo.method == "delete")
            @DeleteMapping($interfaceInfo.path)
            public BaseResult<Void> remove${interfaceInfo.functionName}(@PathVariable("id") Long id) {
                    ${classname}Service.delete(id);
                return BaseResult.ok();
            }
        #end
    #end

}
