package ${package}.domain;

import lombok.Data;

import javax.persistence.*;
import java.io.Serializable;
#foreach ($column in $columns)
    #if($column.attrType == 'Date')
    import java.util.Date;
        #break
    #end
#end

@Data
@Table(name = "${tableName}")
public class ${className} implements Serializable{

#foreach ($column in $columns)
    #if($column.columnName == $primaryKey.columnName)
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY, generator = "JDBC")
    private $column.attrType $column.attrname;
    #else
    @Column(name = "${column.columnName}")
    private $column.attrType $column.attrname;
    #end
#end

}
