package ${package}.service.impl;

import com.nvxclouds.domain.${className};
import com.nvxclouds.service.AbstractService;
import org.springframework.stereotype.Service;
import ${package}.service.${className}Service;

@Service
public class ${className}ServiceImpl  implements  ${className}Service {
    #foreach ($interfaceInfo in $interfaceInfos)
        #if($interfaceInfo.method == "get")
            @GetMapping($interfaceInfo.path)
            public BaseResult<${interfaceInfo.functionName}VO> get${interfaceInfo.functionName}(@PathVariable("id") Long id) {
                return BaseResult.ok(${classname}Service.select(id));
            }
        #elseif($interfaceInfo.method == "post")
            @PostMapping($interfaceInfo.path)
            public BaseResult<Void> save${interfaceInfo.functionName}(${interfaceInfo.functionName}DTO ${classname}) {
                    ${classname}Service.add(${classname});
                return BaseResult.ok();
            }
        #elseif($interfaceInfo.method == "put")
            @PutMapping($interfaceInfo.path)
            public BaseResult<Void> modify${interfaceInfo.functionName}(${interfaceInfo.functionName}DTO ${classname}) {
                    ${classname}Service.update(${classname});
                return BaseResult.ok();
            }

        #elseif($interfaceInfo.method == "delete")
            @DeleteMapping($interfaceInfo.path)
            public BaseResult<Void> remove${interfaceInfo.functionName}(@PathVariable("id") Long id) {
                    ${classname}Service.delete(id);
                return BaseResult.ok();
            }
        #end
    #end
}
